/* BlogFormMap.css */

.map-container {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 10px;
}

.search-bar{
  background-color: rgba(206, 231, 215, 0.68);
}
.search{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  z-index: 2;
  padding: 10px;
}
.search-button{
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 1;
  right: 0;
  // transform: translateY(50%);
}

.map{
  display: block;
}

